@{
    ViewData["Title"] = "Home Page";
}

<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row text-white">
        <div class="col-md-6 offset-md-3 text-center">
          <h1>Sight Words Learning Center</h1>
          <br>
          <h2>Welcome, Student!</h2>
          <h3>Please enter your student code:</h3><br>
          <form>
            <input class="form-control form-control-lg" type="text" placeholder="Access Code">
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-lg">Login</button>
          </form>
        </div>  
      </div>
    </div>
  </div>
</section>