@{
    ViewData["Title"] = "Home Page";
}

<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row text-white">
        <div class="col-md-6 offset-md-3 text-center">
          <h2>Welcome, Student!</h2>
          <h3>Please sign in below!</h3><br>
          <form>
            <input class="form-control form-control-lg" type="text" placeholder="Student Access Code">
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="Student ID Number">
            <br>
            <a role="button" class="btn btn-primary btn-lg">
              Log In
            </a>
            <br>
            <br>
            <a role="button" class="btn btn-primary btn-lg" asp-area="" asp-controller="Student" asp-action="StudentDashboard">
              Student Dashboard
            </a>  
          </form>
        </div>  
      </div>
    </div>
  </div>
</section>