@{
    ViewData["Title"] = "Home Page";
}

<section id="cover">
      <div id="cover-caption">
        <div id="container" class="container">
            <div class="row">
                    <div class="col-sm-5 col-sm-push-5" style="background: color 222;">.
                            <div class="list-group">
                                    <a onclick="selectStage1()" class="list-group-item list-group-item-action">Stage 1</a>
                                    <a onclick="selectStage2()" class="list-group-item list-group-item-action">Stage 2</a>
                                    <a onclick="selectStage3()" class="list-group-item list-group-item-action">Stage 3</a>
                                    <a onclick="selectStage4()" class="list-group-item list-group-item-action">Stage 4</a>
                                </div>
                            </div>
                    <div class="col-sm-5 col-sm-pull-5" style="background-color:222;"><font color="white"> 
                        <h3>Please Select your Stage
                        <h4 id="stageinfo"> </h4>
                        </h3></font>
                    </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
