@{
    ViewData["Title"] = "Home Page";
}



<section class="cover1">
    <div id="landingHeader">
        <img id="headerLogo" src="../img/rock.png">
        <span id="headerTitle">Sight Words Rock</span>
        <a id="headerTeacherBut" role="button" asp-area="" asp-controller="Teacher" asp-action="TeacherLogin" class="btn btn-info btn-small">
            Teachers
        </a>
    </div>
    <div id="landingMain">
        <h1 style="color:white;">Hey students, <a asp-area="" asp-controller="Student" asp-action="StudentLogin">click me!</a></h1>
        <br/>
        <a asp-area="" asp-controller="Student" asp-action="StudentLogin"><img id="landingLogo" src="../img/rock.png"></a>                   
    </div>

</section>

