@{
    ViewData["Title"] = "Home Page";
}

<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-white">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1>Welcome to Sight Words Rocks</h1>
                    <div class="justify-content-center">
                        <a asp-area="" asp-controller="Teacher" asp-action="Login">
                            <button type="button" id="Teacher" class="btn btn-primary btn-lg">Teachers</button>
                        </a>
                        <a asp-area="" asp-controller="Student" asp-action="Login">
                            <button type="button" id="Student" class="btn btn-primary btn-lg">Students</button>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

