@model CreateAccountVM

<section id="header">
  <a role="button" class="btn btn-outline-primary btn-lg" asp-area="" asp-controller="Teacher" asp-action="TeacherLogin">Teacher Login</a><span>test</span>
</section>

<section id="loginStyle">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="col-md-6 offset-md-3 text-center">
        <span class="text-white">
          <h3>Sight Words Learning Center</h1>
          <h3>Password Reset Form</h3>
        </span>
        <br/>
        
        <div class="col-md-12">
          <form method="post" class="form-container">
            <div asp-validation-summary="All" class="text-danger"></div>
            <p>Forgot your password? Enter your email address below, and we will send instructions to set up a new one.</p>
              <br/>
              <div style="text-align:left;">
                <div class="form-group row">
                  <label style="text-align:right;" class="col-sm-4 col-form-label form-control-label">Email Address</label>
                  <div class="col-sm-8">
                    <input asp-for="Email" class="form-control form-control-lg" placeholder="Enter Email Address Here">
                    <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <a asp-controller="" asp-action="">
                <button style="text-align: center;" type="submit" class="btn btn-primary btn-lg">Reset My Password</button>
              </a>
          </form>
        </div>
      </div>
    </div>
    <br/>
  </div>
</section>