@{
    ViewData["Title"] = "Home Page";
}

<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row text-white">
        <div class="col-md-6 offset-md-3 text-center">
          <h1>Sight Words Learning Center</h1>
          <br>
          <h2>Welcome, Teacher!</h2>
          <h3>Please sign in:</h3><br>
          <form>
            <input class="form-control form-control-lg" type="text" placeholder="username" name="uname" required>
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="password" name="psw" required>
            <br>
            <button type="button" class="btn btn-primary btn-lg">Login</button>
            <br>
            <br>
            <span class="psw"><a href="#">Forgot password?</a></span>
            <br>
            <br>
            <input type="button" class="btn btn-primary btn-lg" value="Create New Account"/>
          </form>
        </div>  
      </div>
    </div>
  </div>
</section>