@model TeacherLoginVM

@{
    ViewBag.Title = "Teacher Login";
}
<section id="header">
  <a role="button" class="btn btn-outline-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">User Select</a>
</section>

<section class="fullHeight" id="loginStyle">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row text-white">
        <div class="col-md-6 offset-md-3 text-center">
          <h2>Welcome, Teacher!</h2>
          <h3>Please sign in:</h3><br>
          <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <input asp-for="Email" class="form-control form-control-lg" placeholder="Email">
              <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input asp-for="Password" class="form-control form-control-lg" placeholder="Password">
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label asp-for="RememberMe">
                  <input asp-for="RememberMe"/>
                  @Html.DisplayNameFor(m => m.RememberMe)
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
            <br>
            <br>
            <span class="psw"><a asp-area="" asp-controller="Teacher" asp-action="ForgotPassword">Forgot password?</a></span>
            <br>
            <br>
            <a role="button" class="btn btn-primary btn-lg" asp-area="" asp-controller="Teacher" asp-action="CreateAccount">
              Create Account
            </a> 
          </form>
        </div>  
      </div>
    </div>
  </div>
</section>